## <font color="purple"><h4 align="center">Read/Write CSV and Excel Files in Pandas</font>

### <font color="blue">Read CSV</color>

In [1]:
import pandas as pd
df = pd.read_csv("stock_data.csv")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [2]:
def inBetween(start, end):
    return df[start: end+1]

In [2]:
df = pd.read_csv("stock_data.csv", skiprows=1)
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [4]:
df = pd.read_csv("stock_data.csv",header=1) # skiprows and header are kind of same
df

  GOOGL          27.82   87   845     larry page
0   WMT           4.61  484    65           n.a.
1  MSFT             -1   85    64     bill gates
2  RIL   not available   50  1023  mukesh ambani
3  TATA            5.6   -1  n.a.     ratan tata

In [3]:
df = pd.read_csv("stock_data.csv", header=None, names = ["ali","saeed","farag","price","people"])
df

       ali          saeed    farag  price         people
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4     RIL   not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [4]:
df = pd.read_csv("stock_data.csv",  nrows=2)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

**Task 1: How to read random rows from our data**

In [5]:
df = pd.read_csv("stock_data.csv", na_values=["n.a.", "not available"]) 
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [5]:
df = pd.read_csv("stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

### <font color="blue">Write to CSV</color>

In [8]:
df.to_csv("newdata.csv", index=True)

In [10]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [9]:
df.to_csv("new.csv",header=False, index= False)

In [10]:
df.to_csv("newcolumns.csv", columns=["tickers","price"], index=False)

In [13]:
# Task 1: save 2 columns, last 3 rows only

### <font color="blue">Read Excel</color>

In [11]:
df = pd.read_excel("stock_data.xlsx","Sheet1")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [15]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'data not available'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 14.8
    return cell

def convert_eps_cell(cell):
    if cell== "not available":
        return 18.36
    return cell
    
df = pd.read_excel("stock_data.xlsx","Sheet1", converters= {
        'people': convert_people_cell,
        'price': convert_price_cell,
         'eps':convert_eps_cell
    })
df.to_excel("newnew.xlsx", sheet_name="stocks", index=False, startrow=3, startcol=2)
df

  tickers    eps  revenue   price              people
0   GOOGL  27.82       87   845.0          larry page
1     WMT   4.61      484    65.0  data not available
2    MSFT  -1.00       85    64.0          bill gates
3    RIL   18.36       50  1023.0       mukesh ambani
4    TATA   5.60       -1    14.8          ratan tata

**Task 2: how to append to an existing csv file, excel file same sheet**

In [16]:
# change type of column
#df.eps = df.eps.astype("float43")

### <font color="blue">Write to Excel</color>

In [18]:
df.to_excel("new.xlsx", sheet_name="newstocks", index=True)

**Write two dataframes to two separate sheets in excel**

In [17]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

In [18]:
df_stocks

  tickers  price     pe    eps
0   GOOGL    845  30.37  27.82
1     WMT     65  14.26   4.61
2    MSFT     64  30.97   2.12

In [19]:
df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [20]:
df_weather

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow

In [23]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")

In [27]:
df_stocks.to_excel('a.xlsx', sheet_name="stocks")
df_weather.to_excel('a.xlsx', sheet_name="weather")